<div style="display: flex; flex-direction: column; max-width: 800px;">
    <mat-card class="example-card" style="width:300px; align-self: center;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ54iLC-JopSr54OnaoTHcMculZnCMyweBC9w&usqp=CAU" style="width: 200px; align-self: center;">
		<mat-card-header>
			<mat-card-title style="font-family: 'Times New Roman', Times, serif;"><h1>Name</h1></mat-card-title>
		</mat-card-header>
		<mat-card-content>
            <!-- TODO make getters and setters of the users -->
            <p class="title"> ID DE USUARIO </p>
            <p class="title"> Dirección </p>
            <p class="title"> Contacto </p>
		</mat-card-content>
	</mat-card>
</div>