<mat-card class="example-card">
	<mat-card-header justify-content:center align-items:center>
		<mat-card-title>Formulario</mat-card-title>
	</mat-card-header>
	<mat-card-content>
			<div class="row">
				<div class="col">
					<label for="exampleFormControlInput1">Nombre Empresa: </label>
					<p>{{element.nombre}}</p>
    </div>
					<div class="col">
						<label for="exampleFormControlInput1">Tipo de Negocio</label>
						<p>{{element.negocio}}</p>
					</div>
				</div>
				&nbsp;
				&nbsp;
				<div class="form-group">
					<label for="exampleFormControlInput1">Dirección</label>
					<p>{{element.direccion}}</p>
  </div>
					&nbsp;
					&nbsp;
					<div class="form-group">
						<label for="exampleFormControlTextarea1">Requisitos</label>
						<p>{{element.requisitos}}</p>
					</div>
					&nbsp;
					&nbsp;
					<div class="form-group">
						<label for="exampleFormControlTextarea1">Propuesta</label>
						<p></p>
						<pre>{{element.propuesta}}</pre>
					</div>
					<label for="exampleFormControlTextarea1">Respuesta</label>
					<ckeditor [(ngModel)]="ckeditorContent"></ckeditor>
	</mat-card-content>
	
	<mat-card-actions style="text-align:center">
		<button type="button" class="btn btn-outline-secondary" (click)="setStatus('Aprobado')" >Aceptar</button>
		<button type="button" class="btn btn-outline-secondary"  (click)="setStatus('Rechazado')" >Rechazar</button>
	</mat-card-actions>
</mat-card>
