:host {
  /* border: 4px green; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(ellipse at center,#003144 0,#001f2b 44%,#000c11 100%);
  background-image: url("https://fundacioncarlosslim.org/wp-content/uploads/2018/12/capacitate-para-el-empleo-seguridad-e-higiene-en-ambiente-laboral-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.example-card {
  /* max-width: 500px; */
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  background: #ffffff;
}
.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
